"*":
  "atom-beautify":
    js:
      jslint_happy: true
      space_after_anon_function: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "node-debugger"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    fontSize: 15
    preferredLineLength: 140
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "6e0b8ff0-9949-4626-8418-5f96a51881b8"
  "linter-eslint":
    autofix:
      fixOnSave: true
    disabling:
      rulesToSilenceWhileTyping: [
        "no-trailing-spaces"
      ]
    lintHtmlFiles: true
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.flow"
      "source.babel"
      "source.js-semantic"
      "text.html.vue"
    ]
  "linter-ui-default":
    panelHeight: 175
    showPanel: true
  "linter-yaml":
    useProjectConfig: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "plantuml-preview":
    jarLocation: "/usr/local/Cellar/plantuml/1.2017.16/libexec/plantuml.jar"
  pomodoro:
    playTicks: false
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  touchbar:
    buttons: "[{\"type\":\"button\",\"name\":\"Config 1529993107668\",\"label\":\"🗄\",\"command\":\"tree-view:toggle\",\"color\":\"#898989\"},{\"name\":\"beautify-button\",\"type\":\"button\",\"label\":\"💅\",\"command\":\"atom-beautify:beautify-editor\",\"color\":\"#69806b\"},{\"name\":\"my-new-label\",\"type\":\"label\",\"label\":\"📝 TODO\",\"color\":\"#FF9300\",\"command\":\"todo-show:toggle\"},{\"type\":\"button\",\"name\":\"Config 1529993408476\",\"label\":\"⏱ Diff\",\"command\":\"git-time-machine:toggle\",\"color\":\"#edc3d2\"},{\"type\":\"button\",\"name\":\"Config 1530618130985\",\"label\":\"☕️ Mocha\",\"command\":\"mocha-test-runner:run\",\"color\":\"#4f9e5d\"},{\"type\":\"button\",\"name\":\"Config 1530868660106\",\"command\":\"lazy-motion:forward\",\"label\":\"🔍 Find\",\"icon\":\"\"}]"
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
    squashDirectoryNames: true
  "vim-mode-plus":
    useClipboardAsDefaultRegister: false
  welcome:
    showOnStartup: false
